<ion-header>
  <ion-navbar>
    <ion-title>Bookings</ion-title>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="bookingForm" (submit)="insertBookingEntry()">
    <ion-item>
      <ion-label stacked>Account</ion-label>
      <ion-select formControlName="accountId" placeholder="Household" >
        <ion-option *ngFor="let c of accountList" [value]="c.name">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select formControlName="categories" placeholder="Work, Computer" multiple>
        <ion-option *ngFor="let c of categoryList" [value]="c.name">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Comment</ion-label>
      <ion-input formControlName="comment" type="text" placeholder="New Monitor for Homeoffice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Amount</ion-label>
      <ion-input formControlName="amount" type="number" placeholder="125.99"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD.MM.YYYY"
                    pickerFormat="DD MMMM YYYY" placeholder="15.10.2018">
      </ion-datetime>
    </ion-item>

    <button ion-button block [disabled]="!bookingForm.valid">Submit</button>
  </form>

  <ion-list>
    <ion-item *ngFor="let booking of bookingList" (click)="goToBookingDetails(booking)">
      <h2> {{ booking?.accountId }}</h2>
      <p>{{booking?.comment}}</p>
      <p>{{booking?.date | date:'fullDate'}}</p>
      <p>{{booking?.amount | currency:'EUR':'symbol'}}</p>
      <ion-badge *ngFor="let category of booking?.categories" >{{ category }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
