<!--
  Generated template for the MovieDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="bookingForm" (submit)="saveBooking()">
    <ion-item>
      <ion-label stacked>Account</ion-label>
      <ion-select formControlName="accountId" placeholder="Household" >
        <ion-option *ngFor="let c of accountList" [value]="c.name">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select formControlName="categories" placeholder="Work, Computer" multiple>
        <ion-option *ngFor="let c of categoryList" [value]="c.name">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Comment</ion-label>
      <ion-input formControlName="comment" type="text" placeholder="New Monitor for Homeoffice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Amount</ion-label>
      <ion-input formControlName="amount" type="number" placeholder="125.99"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD.MM.YYYY"
                    pickerFormat="DD MMMM YYYY" placeholder="15.10.2018">
      </ion-datetime>
    </ion-item>

    <button ion-button block [disabled]="!bookingForm.valid">Save</button>
  </form>

  <button ion-button="" color="danger" block (click)="deleteBooking()" block>Delete</button>

</ion-content>
